:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0077;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --link-shadow-color: #ff0077;
  --border-color: #ff0077;
}