.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  padding: 20px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  min-block-size: 668px;
  padding: 20px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 5px 13px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}